<mat-sidenav-container fullscreen>
  <mat-sidenav #leftMenu mode="push" align="start" position="start">
    <mat-toolbar>
      <img class="logo" src="/assets/header-logo.svg"/>
    </mat-toolbar>
    <app-menu></app-menu>
  </mat-sidenav>
  <mat-toolbar color="primary" class="header">
    <button mat-icon-button
            (click)="leftMenu.open()">
      <mat-icon>menu</mat-icon>
    </button>
    <div class="title">
      <img class="title__logo" src="/assets/desktop-logo.svg"/>
    </div>
  </mat-toolbar>
  <mat-progress-bar color="warn" mode="indeterminate"></mat-progress-bar>
  <div id="content">
    <router-outlet></router-outlet>
  </div>
</mat-sidenav-container>
